# Flutter
.dart_tool/
.build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
*.iml

# Build
build/
windows/
macos/
linux/

# Android / iOS
android/.gradle/
ios/Pods/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/.generated/
android/.idea/
*.lock

# IDE
.idea/
*.iml

# Node.js
node_modules/
.env
*.sqlite3
mydatabase.db
*.log
