name: tripplan_1
description: "A new Flutter project."
version: 1.0.0+1

environment:
  sdk: ^3.6.1

dependencies:
  flutter:
    sdk: flutter
  flutter_map: ^6.1.0
  latlong2: ^0.9.0
  cupertino_icons: ^1.0.8
  flutter_colorpicker: ^1.0.3
  flutter_map_marker_popup: ^6.0.0
  google_fonts: ^6.1.0
  dropdown_button2: ^2.3.9
  flutter_date_pickers: ^0.4.1




dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
